{% include ':searchgo:header.html.twig' %}

                    <a id='eltd-back-to-top'  href='#'>
                <span class="eltd-icon-stack">
                     <span aria-hidden="true" class="eltd-icon-font-elegant arrow_carrot-up  " ></span><span aria-hidden="true" class="eltd-icon-font-elegant arrow_carrot-up  " ></span>                </span>
            </a>
        
        <div class="eltd-content" style="margin-top: -114px">
                        <div class="eltd-content-inner">
<div class="eltd-full-width">
<div class="eltd-full-width-inner">
						<div data-eltd-parallax-speed="1" class="vc_row wpb_row vc_row-fluid eltd-section vc_custom_1459156569874 eltd-content-aligment-center eltd-parallax-section-holder eltd-parallax-section-holder-touch-disabled eltd-grid-section eltd-full-screen-height-parallax eltd-vertical-middle-align" style="background-image:url({{ asset('assets/img/02/home-image-new.jpg') }} );"><div class="eltd-parallax-content-outer"><div class="clearfix eltd-section-inner"><div class="eltd-section-inner-margin clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
<div class="eltd-custom-font-holder" style="font-family: Poppins;font-size: 72px;line-height: 95px;font-weight: 500;letter-spacing: 0px;text-align: center;color: #ffffff" data-font-size= 72 data-line-height= 95>
	Find the Best Places to Be</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4 style="text-align: center; font-weight: 400;"><span style="color: #ffffff;">All the top locations &#8211; from restaurants and clubs, to cinemas, galleries, and more.</span></h4>

		</div>
	</div>
<div class="vc_empty_space"  style="height: 60px" ><span class="vc_empty_space_inner"></span></div>
<form method="get" action="/listing-item/">
	<div class="eltd-listing-search-holder">
		<div class="clearfix">
			<div class="eltd-listing-search-field keywords">
				<input type="text" placeholder="Keywords" name="keywords" id="keywords">
			</div>
			<div class="eltd-listing-search-field keywords">
				<select name="location" id="keywords"  >
					<option value="all">All Locations</option>
													<option value = "El Born">
									El Born								</option>
															<option value = "El Raval">
									El Raval								</option>
															<option value = "Gothic">
									Gothic								</option>
															<option value = "Gràcia">
									Gràcia								</option>
															<option value = "La Ribera">
									La Ribera								</option>
															<option value = "Les Corts">
									Les Corts								</option>
											</select>
			</div>
			<div class="eltd-listing-search-field keywords">
				<select name="type" id="keywords">
					<option value="all">All Categories</option>
												<option value = "Culture">
								Culture							</option>
													<option value = "Cuisine">
								Cuisine							</option>
													<option value = "Nightlife">
								Nightlife							</option>
													<option value = "Lodging">
								Lodging							</option>
													<option value = "Shopping">
								Shopping							</option>
										</select>
			</div>
		</div>
		<div class="eltd-listing-search-submit-holder">
			<button type="submit"  class="eltd-btn eltd-btn-large eltd-btn-solid eltd-btn-custom-border-hover eltd-btn-custom-hover-color eltd-btn-icon" data-hover-color="#fff" data-hover-border-color="#fff" >    <span class="eltd-btn-text">Search Places</span>    <span aria-hidden="true" class="eltd-icon-font-elegant arrow_carrot-right " ></span></button>		</div>
		<div class="eltd-listing-search-categories-holder">
							<a href="listing-item/index2f79.html?type=Culture" class="eltd-listing-search-category-link">
					<span class="eltd-listing-search-category-link-inner-holder">
						<i class="eltd-icon-linear-icon lnr lnr-picture " ></i>						<span class="eltd-listing-search-category-title">
							Culture						</span>
					</span>
				</a>
							<a href="listing-item/index4208.html?type=Cuisine" class="eltd-listing-search-category-link">
					<span class="eltd-listing-search-category-link-inner-holder">
						<i class="eltd-icon-linear-icon lnr lnr-dinner " ></i>						<span class="eltd-listing-search-category-title">
							Cuisine						</span>
					</span>
				</a>
							<a href="listing-item/indexb758.html?type=Nightlife" class="eltd-listing-search-category-link">
					<span class="eltd-listing-search-category-link-inner-holder">
						<i class="eltd-icon-linea-icon icon-music-note-multiple " ></i>						<span class="eltd-listing-search-category-title">
							Nightlife						</span>
					</span>
				</a>
							<a href="listing-item/indexe7ab.html?type=Lodging" class="eltd-listing-search-category-link">
					<span class="eltd-listing-search-category-link-inner-holder">
						<i class="eltd-icon-linear-icon lnr lnr-apartment " ></i>						<span class="eltd-listing-search-category-title">
							Lodging						</span>
					</span>
				</a>
							<a href="listing-item/index0316.html?type=Shopping" class="eltd-listing-search-category-link">
					<span class="eltd-listing-search-category-link-inner-holder">
						<i class="eltd-icon-linear-icon lnr lnr-cart " ></i>						<span class="eltd-listing-search-category-title">
							Shopping						</span>
					</span>
				</a>
					</div>
	</div>
</form><div class="vc_empty_space"  style="height: 40px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid eltd-section vc_custom_1459245285911 eltd-content-aligment-center eltd-grid-section" style=""><div class="clearfix eltd-section-inner"><div class="eltd-section-inner-margin clearfix"><div class="wpb_column vc_column_container vc_col-sm-10 vc_col-lg-offset-3 vc_col-lg-6 vc_col-md-offset-1 vc_col-md-10 vc_col-sm-offset-1"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2>Most Popular Locations</h2>

		</div>
	</div>
<div class="eltd-separator-with-icon-holder clearfix  eltd-separator-center" style="margin-top: 8px">
	<div class="eltd-separator">
		<span style="width: 85px;height: 1px"></span>
	</div>
	<div class="eltd-separator-icon">
		<i class="eltd-icon-simple-line-icon icon-bubble " ></i>	</div>
	<div class="eltd-separator">
		<span style="width: 85px;height: 1px"></span>
	</div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>

		</div>
	</div>
</div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid eltd-section vc_custom_1459246474047 eltd-content-aligment-left eltd-grid-section" style=""><div class="clearfix eltd-section-inner"><div class="eltd-section-inner-margin clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class = "eltd-listing-feat-list-holder"><div class = "eltd-listing-feat-list-holder-sizer"></div><article class="eltd-listing-feat-listing-item eltd-listing-feature-portrait">

	<div class="eltd-listing-feat-listing-item-inner">
		
			<div class="eltd-listing-feat-image-holder">

				<a href="listing-item/the-eiffel-tower/index.html">
					<img width="667" height="500" src="{{ asset('assets/img/03/eiffel-tower-featured.jpg') }}" class="attachment-search_and_go_elated_large_width size-search_and_go_elated_large_width wp-post-image" alt="a" srcset="site/assets/img/03/eiffel-tower-featured.jpg 800w, site/assets/img/03/eiffel-tower-featured-300x225.jpg 300w, site/assets/img/03/eiffel-tower-featured-768x576.jpg 768w" sizes="(max-width: 667px) 100vw, 667px" />				</a>

			</div>

		
		<div class="eltd-listing-feat-title-wrapper">

			
					<a class="eltd-listing-item-category-icon"
					   href="listing-item/indexa6e8.html?category=Monuments">
						<i class="eltd-icon-linear-icon lnr lnr-picture " ></i>					</a>

				
			<h5 class="eltd-listing-feat-title">
				<a href="listing-item/the-eiffel-tower/index.html">
					The Eiffel Tower				</a>
			</h5>

		</div>
	</div>

</article>
	<article class="eltd-listing-feat-listing-tax eltd-listing-feature-square">
	
	<a href="listing-item/index9edf.html?location=Gothic"></a>
		
	
		<div class="eltd-listing-feat-image-holder">

			<img src="{{ asset('assets/img/02/lisbon.jpg') }}" width="550" height="550" title="site/assets/img/02/lisbon.jpg" alt="taxonomy-feature-image"/>

		</div>

	
	<div class="eltd-listing-feat-title-holder">

		<div class="eltd-listing-feat-title-holder-inner">

			<div class="eltd-listing-feat-title-wrapper">

				<h2 class="eltd-listing-feat-title">
					<a href="listing-item/index9edf.html?location=Gothic">
						Gothic					</a>
				</h2>

			</div>	

		</div>

	</div>		

</article>
	<article class="eltd-listing-feat-listing-tax eltd-listing-feature-square">
	
	<a href="listing-item/index8eee.html?location=Les+Corts"></a>
		
	
		<div class="eltd-listing-feat-image-holder">

			<img src="{{ asset('assets/img/02/paris.jpg') }}" width="550" height="550" title="site/assets/img/02/paris.jpg" alt="taxonomy-feature-image"/>

		</div>

	
	<div class="eltd-listing-feat-title-holder">

		<div class="eltd-listing-feat-title-holder-inner">

			<div class="eltd-listing-feat-title-wrapper">

				<h2 class="eltd-listing-feat-title">
					<a href="listing-item/index8eee.html?location=Les+Corts">
						Les Corts					</a>
				</h2>

			</div>	

		</div>

	</div>		
	
</article>
	<article class="eltd-listing-feat-listing-tax eltd-listing-feature-square">
	
	<a href="listing-item/index505c.html?location=Gr%C3%A0cia"></a>
		
	
		<div class="eltd-listing-feat-image-holder">

			<img src="{{ asset('assets/img/02/istanbul.jpg') }}" width="550" height="550" title="site/assets/img/02/istanbul.jpg" alt="taxonomy-feature-image"/>

		</div>

	
	<div class="eltd-listing-feat-title-holder">

		<div class="eltd-listing-feat-title-holder-inner">

			<div class="eltd-listing-feat-title-wrapper">

				<h2 class="eltd-listing-feat-title">
					<a href="listing-item/index505c.html?location=Gr%C3%A0cia">
						Gràcia					</a>
				</h2>

			</div>	

		</div>

	</div>		
	
</article>
	<article class="eltd-listing-feat-listing-item eltd-listing-feature-square">

	<div class="eltd-listing-feat-listing-item-inner">
		
			<div class="eltd-listing-feat-image-holder">

				<a href="listing-item/the-fresh-buzz/index.html">
					<img width="550" height="413" src="{{ asset('assets/img/03/the-fresh-buzz-featured.jpg') }}" class="attachment-search_and_go_elated_square size-search_and_go_elated_square wp-post-image" alt="a" srcset="site/assets/img/03/the-fresh-buzz-featured.jpg 800w, site/assets/img/03/the-fresh-buzz-featured-300x225.jpg 300w, site/assets/img/03/the-fresh-buzz-featured-768x576.jpg 768w" sizes="(max-width: 550px) 100vw, 550px" />				</a>

			</div>

		
		<div class="eltd-listing-feat-title-wrapper">

			
					<a class="eltd-listing-item-category-icon"
					   href="listing-item/index7b11.html?category=Bars">
						<i class="eltd-icon-linea-icon icon-music-note-multiple " ></i>					</a>

				
			<h5 class="eltd-listing-feat-title">
				<a href="listing-item/the-fresh-buzz/index.html">
					The Fresh Buzz				</a>
			</h5>

		</div>
	</div>

</article>
	<article class="eltd-listing-feat-listing-item eltd-listing-feature-square">

	<div class="eltd-listing-feat-listing-item-inner">
		
			<div class="eltd-listing-feat-image-holder">

				<a href="listing-item/horse-crown/index.html">
					<img width="550" height="413" src="{{ asset('assets/img/03/Horse-Crown-featured.jpg') }}" class="attachment-search_and_go_elated_square size-search_and_go_elated_square wp-post-image" alt="a" srcset="site/assets/img/03/Horse-Crown-featured.jpg 800w, site/assets/img/03/Horse-Crown-featured-300x225.jpg 300w, site/assets/img/03/Horse-Crown-featured-768x576.jpg 768w" sizes="(max-width: 550px) 100vw, 550px" />				</a>

			</div>

		
		<div class="eltd-listing-feat-title-wrapper">

			
					<a class="eltd-listing-item-category-icon"
					   href="listing-item/indexcc46.html?category=Pubs">
						<i class="eltd-icon-linea-icon icon-music-note-multiple " ></i>					</a>

				
			<h5 class="eltd-listing-feat-title">
				<a href="listing-item/horse-crown/index.html">
					Horse &amp; Crown				</a>
			</h5>

		</div>
	</div>

</article>
	<article class="eltd-listing-feat-listing-tax eltd-listing-feature-square">
	
	<a href="listing-item/index0874.html?location=El+Raval"></a>
		
	
		<div class="eltd-listing-feat-image-holder">

			<img src="{{ asset('assets/img/02/barcelona.jpg') }}" width="550" height="550" title="site/assets/img/02/barcelona.jpg" alt="taxonomy-feature-image"/>

		</div>

	
	<div class="eltd-listing-feat-title-holder">

		<div class="eltd-listing-feat-title-holder-inner">

			<div class="eltd-listing-feat-title-wrapper">

				<h2 class="eltd-listing-feat-title">
					<a href="listing-item/index0874.html?location=El+Raval">
						El Raval					</a>
				</h2>

			</div>	

		</div>

	</div>		
	
</article>
	</div></div></div></div></div></div></div><div data-eltd-parallax-speed="1" class="vc_row wpb_row vc_row-fluid eltd-section eltd-content-aligment-center eltd-parallax-section-holder eltd-parallax-section-holder-touch-disabled eltd-grid-section" style="background-image:url({{ asset('assets/img/02/parallax2.jpg') }});min-height:472px;height:auto;"><div class="clearfix eltd-section-inner"><div class="eltd-section-inner-margin clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_empty_space"  style="height: 78px" ><span class="vc_empty_space_inner"></span></div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2><span style="color: #ffffff;">Quick and Easy Search</span></h2>

		</div>
	</div>
<div class="eltd-separator-with-icon-holder clearfix  eltd-separator-center" style="margin-top: 12px;margin-bottom: 50px">
	<div class="eltd-separator">
		<span style="width: 85px;height: 1px"></span>
	</div>
	<div class="eltd-separator-icon">
		<i class="eltd-icon-simple-line-icon icon-star " ></i>	</div>
	<div class="eltd-separator">
		<span style="width: 85px;height: 1px"></span>
	</div>
</div><div data-eltd-parallax-speed="1" class="vc_row wpb_row vc_inner vc_row-fluid eltd-section eltd-content-aligment-left" style=""><div class="eltd-full-section-inner"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="eltd-numbered-steps-holder clearfix eltd-light-skin"  >
	
	<div class="eltd-numbered-steps-top-holder">
		
		<div class="eltd-numbered-steps-number-holder">
					</div>
		
		<div class="eltd-numbered-steps-title-subtitle-holder">
			
			<h4 class="eltd-numbered-steps-title">
				Choose a Category			</h4>

			<p class="eltd-numbered-steps-subtitle">
				Sed ut perspiciatis unde omnis iste			</p>	
			
		</div>
		
	</div>
	
	<div class="eltd-numbered-steps-bottom-holder">
		Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.	</div>	
	
</div>	<div class="vc_empty_space"  style="height: 40px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="eltd-numbered-steps-holder clearfix eltd-light-skin"  >
	
	<div class="eltd-numbered-steps-top-holder">
		
		<div class="eltd-numbered-steps-number-holder">
				</div>
		
		<div class="eltd-numbered-steps-title-subtitle-holder">
			
			<h4 class="eltd-numbered-steps-title">
				Find Locations			</h4>

			<p class="eltd-numbered-steps-subtitle">
				Sed ut perspiciatis unde omnis iste			</p>	
			
		</div>
		
	</div>
	
	<div class="eltd-numbered-steps-bottom-holder">
		Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.	</div>	
	
</div>	<div class="vc_empty_space"  style="height: 40px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="eltd-numbered-steps-holder clearfix eltd-light-skin"  >
	
	<div class="eltd-numbered-steps-top-holder">
		
		<div class="eltd-numbered-steps-number-holder">
			3.		</div>	
		
		<div class="eltd-numbered-steps-title-subtitle-holder">
			
			<h4 class="eltd-numbered-steps-title">
				Go Have Fun			</h4>

			<p class="eltd-numbered-steps-subtitle">
				Sed ut perspiciatis unde omnis iste			</p>	
			
		</div>
		
	</div>
	
	<div class="eltd-numbered-steps-bottom-holder">
		Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.	</div>	
	
</div>	<div class="vc_empty_space"  style="height: 90px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div></div></div></div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid eltd-section vc_custom_1459246838864 eltd-content-aligment-center eltd-grid-section" style=""><div class="clearfix eltd-section-inner"><div class="eltd-section-inner-margin clearfix"><div class="wpb_column vc_column_container vc_col-sm-10 vc_col-lg-offset-3 vc_col-lg-6 vc_col-md-offset-1 vc_col-md-10 vc_col-sm-offset-1"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2>Discover New Places</h2>

		</div>
	</div>
<div class="eltd-separator-with-icon-holder clearfix  eltd-separator-center" style="margin-top: 7px">
	<div class="eltd-separator">
		<span style="width: 85px;height: 1px"></span>
	</div>
	<div class="eltd-separator-icon">
		<i class="eltd-icon-simple-line-icon icon-trophy " ></i>	</div>
	<div class="eltd-separator">
		<span style="width: 85px;height: 1px"></span>
	</div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>

		</div>
	</div>
</div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid eltd-section vc_custom_1457706445914 eltd-content-aligment-left eltd-grid-section" style=""><div class="clearfix eltd-section-inner"><div class="eltd-section-inner-margin clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class = "eltd-listing-basic-holder clearfix eltd-listing-three-cols"><div class = "eltd-listing-basic-inner-holder clearfix"><article class = "eltd-listing-basic-item-holder">
	
	
			
		<div class="eltd-listing-item-image">
			
			<a href="listing-item/miss-sugar/index.html" >
				<img width="800" height="600" src="{{ asset('assets/img/03/miss-sugar-featured.jpg') }}" class="attachment-full size-full wp-post-image" alt="a" srcset="site/assets/img/03/miss-sugar-featured.jpg 800w, site/assets/img/03/miss-sugar-featured-300x225.jpg 300w, site/assets/img/03/miss-sugar-featured-768x576.jpg 768w" sizes="(max-width: 800px) 100vw, 800px" />			</a>

		</div>
		
		
	
	<div class="eltd-listing-item-info-holder">
		
		<a class="eltd-listing-whislist " data-listing-id = "394" title=""><i class="icon-heart"></i></a>		
		<h3 class="eltd-listing-item-title">
			
			<a href="listing-item/miss-sugar/index.html" >
				Miss Sugar			</a>
			
		</h3>	
		
		
				
			<h6 class="eltd-listing-item-address-holder">
				
				Avinguda del Marquès de l&#039;Argentera, 15, 08003 Barcelona, Spain				
			</h6>
			
				
				
			<div class="eltd-listing-item-except">
			
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem atium doloremque laua  iste natus error sit unde doloremque.
			</div>
		
				
		
					
			<div class="eltd-listing-item-bottom-section">
			
				
					<div class="eltd-listing-item-icon">

						<a class="eltd-listing-item-category-icon" href="listing-item/index508b.html?category=Accessories"><i class="eltd-icon-linear-icon lnr lnr-cart " ></i></a>					

					</div>

								
					<div class="eltd-listing-item-rating-holder">
							<div class="eltd-listing-item-rating eltd-listing-part" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
		<meta itemprop="ratingValue" content="4.0769230769231">
		<meta itemprop="ratingCount" content="26">
		<span class="rating-inner" style="width: 81.538461538462%"></span>
	</div>			
					</div>
				
								

			</div>
		
				
		
	</div>
		
</article><article class = "eltd-listing-basic-item-holder">
	
	
			
		<div class="eltd-listing-item-image">
			
			<a href="listing-item/fresh-garden/index.html" >
				<img width="800" height="600" src="{{ asset('assets/img/03/fresh-garden-featured.jpg') }}" class="attachment-full size-full wp-post-image" alt="a" srcset="site/assets/img/03/fresh-garden-featured.jpg 800w, site/assets/img/03/fresh-garden-featured-300x225.jpg 300w, site/assets/img/03/fresh-garden-featured-768x576.jpg 768w" sizes="(max-width: 800px) 100vw, 800px" />			</a>

		</div>
		
		
	
	<div class="eltd-listing-item-info-holder">
		
		<a class="eltd-listing-whislist " data-listing-id = "398" title=""><i class="icon-heart"></i></a>		
		<h3 class="eltd-listing-item-title">
			
			<a href="listing-item/fresh-garden/index.html" >
				Fresh Garden			</a>
			
		</h3>	
		
		
				
			<h6 class="eltd-listing-item-address-holder">
				
				Avinguda del Marquès de l&#039;Argentera, 15, 08003 Barcelona, Spain				
			</h6>
			
				
				
			<div class="eltd-listing-item-except">
			
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem atium doloremque laua  iste natus error sit unde doloremque.
			</div>
		
				
		
					
			<div class="eltd-listing-item-bottom-section">
			
				
					<div class="eltd-listing-item-icon">

						<a class="eltd-listing-item-category-icon" href="listing-item/index53b2.html?category=Groceries"><i class="eltd-icon-linear-icon lnr lnr-cart " ></i></a>					

					</div>

								
					<div class="eltd-listing-item-rating-holder">
							<div class="eltd-listing-item-rating eltd-listing-part" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
		<meta itemprop="ratingValue" content="4.3333333333333">
		<meta itemprop="ratingCount" content="6">
		<span class="rating-inner" style="width: 86.666666666667%"></span>
	</div>			
					</div>
				
								

			</div>
		
				
		
	</div>
		
</article><article class = "eltd-listing-basic-item-holder">
	
	
			
		<div class="eltd-listing-item-image">
			
			<a href="listing-item/club-apex/index.html" >
				<img width="800" height="600" src="{{ asset('assets/img/03/Club-Apex-featured.jpg') }}" class="attachment-full size-full wp-post-image" alt="a" srcset="site/assets/img/03/Club-Apex-featured.jpg 800w, site/assets/img/03/Club-Apex-featured-300x225.jpg 300w, site/assets/img/03/Club-Apex-featured-768x576.jpg 768w" sizes="(max-width: 800px) 100vw, 800px" />			</a>

		</div>
		
		
	
	<div class="eltd-listing-item-info-holder">
		
		<a class="eltd-listing-whislist " data-listing-id = "363" title=""><i class="icon-heart"></i></a>		
		<h3 class="eltd-listing-item-title">
			
			<a href="listing-item/club-apex/index.html" >
				Club Apex			</a>
			
		</h3>	
		
		
				
			<h6 class="eltd-listing-item-address-holder">
				
				Avinguda del Marquès de l&#039;Argentera, 15, 08003 Barcelona, Spain				
			</h6>
			
				
				
			<div class="eltd-listing-item-except">
			
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem atium doloremque laua  iste natus error sit unde doloremque.
			</div>
		
				
		
					
			<div class="eltd-listing-item-bottom-section">
			
				
					<div class="eltd-listing-item-icon">

						<a class="eltd-listing-item-category-icon" href="listing-item/index7f5c.html?category=Clubs"><i class="eltd-icon-linea-icon icon-music-note-multiple " ></i></a>					

					</div>

								
					<div class="eltd-listing-item-rating-holder">
							<div class="eltd-listing-item-rating eltd-listing-part" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
		<meta itemprop="ratingValue" content="3.6666666666667">
		<meta itemprop="ratingCount" content="3">
		<span class="rating-inner" style="width: 73.333333333333%"></span>
	</div>			
					</div>
				
								

			</div>
		
				
		
	</div>
		
</article></div></div></div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid eltd-section vc_custom_1459250150521 eltd-content-aligment-center eltd-grid-section" style=""><div class="clearfix eltd-section-inner"><div class="eltd-section-inner-margin clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2>What Our Clients Say</h2>

		</div>
	</div>
<div class="eltd-separator-with-icon-holder clearfix  eltd-separator-center" style="margin-top: 12px">
	<div class="eltd-separator">
		<span style="width: 85px;height: 1px"></span>
	</div>
	<div class="eltd-separator-icon">
		<i class="eltd-icon-simple-line-icon icon-bubble " ></i>	</div>
	<div class="eltd-separator">
		<span style="width: 85px;height: 1px"></span>
	</div>
</div><div class="vc_empty_space"  style="height: 30px" ><span class="vc_empty_space_inner"></span></div>
<div class="eltd-testimonials-holder clearfix"><div class="eltd-testimonials "><div class="eltd-testimonial-slide-item clearfix"><div id="eltd-testimonials57" class="eltd-testimonial-content">
	<div class="eltd-testimonial-content-wrapper-inner">
		
		<div class="eltd-testimonial-image-holder" style="background-image: url({{ asset('assets/img/02/testimonial-image1.jpg') }})" >
			<a class="eltd-testimonial-image" href="testimonials/testimonial-1/index.html">
				<img width="420" height="280" src="{{ asset('assets/img/02/testimonial-image1.jpg') }}" class="attachment-full size-full wp-post-image" alt="a" srcset="site/assets/img/02/testimonial-image1.jpg 420w, site/assets/img/02/testimonial-image1-300x200.jpg 300w" sizes="(max-width: 420px) 100vw, 420px" />			</a>
		</div>		
		<div class="eltd-testimonial-content-inner">
			<div class="eltd-testimonial-text-holder">
				<div class="eltd-testimonial-text-inner">
					
											
											<h4 class="eltd-testimonial-author">
							Maria Adams								
						</h4>
											
											<h6 class="eltd-testimonials-job">
							Student at the Faculty of Applierd Art						</h6>
						
						
					<p class="eltd-testimonial-text">
						<span>
							Sed ut perspiciatis unde omnis iste natus   error sit voluptatem acantium laudan.						</span>
					</p>
									
				</div>
			</div>
		</div>	
	</div>	
</div>
<div id="eltd-testimonials59" class="eltd-testimonial-content">
	<div class="eltd-testimonial-content-wrapper-inner">
		
		<div class="eltd-testimonial-image-holder" style="background-image: url({{ asset('assets/img/02/testimonial-image2.jpg') }} )" >
			<a class="eltd-testimonial-image" href="testimonials/testimonial-2/index.html">
				<img width="420" height="280" src="{{ asset('assets/img/02/testimonial-image2.jpg') }}" class="attachment-full size-full wp-post-image" alt="a" srcset="site/assets/img/02/testimonial-image2.jpg 420w, site/assets/img/02/testimonial-image2-300x200.jpg 300w" sizes="(max-width: 420px) 100vw, 420px" />			</a>
		</div>		
		<div class="eltd-testimonial-content-inner">
			<div class="eltd-testimonial-text-holder">
				<div class="eltd-testimonial-text-inner">
					
											
											<h4 class="eltd-testimonial-author">
							Harry Adams								
						</h4>
											
											<h6 class="eltd-testimonials-job">
							Design Freelancer						</h6>
						
						
					<p class="eltd-testimonial-text">
						<span>
							Sed ut perspiciatis unde omnis iste natus   error sit voluptatem accusum laudan.						</span>
					</p>
									
				</div>
			</div>
		</div>	
	</div>	
</div>
<div id="eltd-testimonials61" class="eltd-testimonial-content">
	<div class="eltd-testimonial-content-wrapper-inner">
		
		<div class="eltd-testimonial-image-holder" style="background-image: url({{ asset('assets/img/02/testimonial-image3.jpg') }} )" >
			<a class="eltd-testimonial-image" href="testimonials/testimonial-3/index.html">
				<img width="420" height="280" src="{{ asset('assets/img/02/testimonial-image3.jpg') }}" class="attachment-full size-full wp-post-image" alt="a" srcset="site/assets/img/02/testimonial-image3.jpg 420w, site/assets/img/02/testimonial-image3-300x200.jpg 300w" sizes="(max-width: 420px) 100vw, 420px" />			</a>
		</div>		
		<div class="eltd-testimonial-content-inner">
			<div class="eltd-testimonial-text-holder">
				<div class="eltd-testimonial-text-inner">
					
											
											<h4 class="eltd-testimonial-author">
							Maria McAdams								
						</h4>
											
											<h6 class="eltd-testimonials-job">
							Director of Travel Agency						</h6>
						
						
					<p class="eltd-testimonial-text">
						<span>
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accuntium laudan.						</span>
					</p>
									
				</div>
			</div>
		</div>	
	</div>	
</div>
<div id="eltd-testimonials63" class="eltd-testimonial-content">
	<div class="eltd-testimonial-content-wrapper-inner">
		
		<div class="eltd-testimonial-image-holder" style="background-image: url({{ asset('assets/img/02/testimonial-image4.jpg') }})" >
			<a class="eltd-testimonial-image" href="testimonials/testimonial-4/index.html">
				<img width="420" height="280" src="{{ asset('assets/img/02/testimonial-image4.jpg') }}" class="attachment-full size-full wp-post-image" alt="a" srcset="site/assets/img/02/testimonial-image4.jpg 420w, site/assets/img/02/testimonial-image4-300x200.jpg 300w" sizes="(max-width: 420px) 100vw, 420px" />			</a>
		</div>		
		<div class="eltd-testimonial-content-inner">
			<div class="eltd-testimonial-text-holder">
				<div class="eltd-testimonial-text-inner">
					
											
											<h4 class="eltd-testimonial-author">
							Mario Wiliams								
						</h4>
											
											<h6 class="eltd-testimonials-job">
							Director of Travel Agency						</h6>
						
						
					<p class="eltd-testimonial-text">
						<span>
							Sed ut perspiciatis unde omnis iste natus   error sit voluptatem accustium laudan.						</span>
					</p>
									
				</div>
			</div>
		</div>	
	</div>	
</div>
</div><div class = "eltd-testimonial-slide-item"><div id="eltd-testimonials695" class="eltd-testimonial-content">
	<div class="eltd-testimonial-content-wrapper-inner">
		
		<div class="eltd-testimonial-image-holder" style="background-image: url(_{{ asset('assets/img/02/testimonial-image4.jpg') }})" >
			<a class="eltd-testimonial-image" href="testimonials/testimonial-12/index.html">
				<img width="420" height="280" src="{{ asset('assets/img/02/testimonial-image4.jpg') }}" class="attachment-full size-full wp-post-image" alt="a" srcset="site/assets/img/02/testimonial-image4.jpg 420w, site/assets/img/02/testimonial-image4-300x200.jpg 300w" sizes="(max-width: 420px) 100vw, 420px" />			</a>
		</div>		
		<div class="eltd-testimonial-content-inner">
			<div class="eltd-testimonial-text-holder">
				<div class="eltd-testimonial-text-inner">
					
											
											<h4 class="eltd-testimonial-author">
							Mario Wiliams								
						</h4>
											
											<h6 class="eltd-testimonials-job">
							Director of Travel Agency						</h6>
						
						
					<p class="eltd-testimonial-text">
						<span>
							Sed ut perspiciatis unde omnis iste natus   error sit voluptatem accustium laudan.						</span>
					</p>
									
				</div>
			</div>
		</div>	
	</div>	
</div>
<div id="eltd-testimonials693" class="eltd-testimonial-content">
	<div class="eltd-testimonial-content-wrapper-inner">
		
		<div class="eltd-testimonial-image-holder" style="background-image: url({{ asset('assets/img/02/testimonial-image11.jpg') }})" >
			<a class="eltd-testimonial-image" href="testimonials/testimonial-11/index.html">
				<img width="420" height="280" src="{{ asset('assets/img/02/testimonial-image11.jpg') }}" class="attachment-full size-full wp-post-image" alt="a" srcset="site/assets/img/02/testimonial-image11.jpg 420w, site/assets/img/02/testimonial-image11-300x200.jpg 300w" sizes="(max-width: 420px) 100vw, 420px" />			</a>
		</div>		
		<div class="eltd-testimonial-content-inner">
			<div class="eltd-testimonial-text-holder">
				<div class="eltd-testimonial-text-inner">
					
											
											<h4 class="eltd-testimonial-author">
							Maria McAdams								
						</h4>
											
											<h6 class="eltd-testimonials-job">
							Director of Travel Agency						</h6>
						
						
					<p class="eltd-testimonial-text">
						<span>
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accuntium laudan.						</span>
					</p>
									
				</div>
			</div>
		</div>	
	</div>	
</div>
<div id="eltd-testimonials691" class="eltd-testimonial-content">
	<div class="eltd-testimonial-content-wrapper-inner">
		
		<div class="eltd-testimonial-image-holder" style="background-image: url(_{{ asset('assets/img/02/testimonial-image10.jpg') }})" >
			<a class="eltd-testimonial-image" href="testimonials/testimonial-10/index.html">
				<img width="420" height="280" src="{{ asset('assets/img/02/testimonial-image10.jpg') }}" class="attachment-full size-full wp-post-image" alt="a" srcset="site/assets/img/02/testimonial-image10.jpg 420w, site/assets/img/02/testimonial-image10-300x200.jpg 300w" sizes="(max-width: 420px) 100vw, 420px" />			</a>
		</div>		
		<div class="eltd-testimonial-content-inner">
			<div class="eltd-testimonial-text-holder">
				<div class="eltd-testimonial-text-inner">
					
											
											<h4 class="eltd-testimonial-author">
							Harry Adams								
						</h4>
											
											<h6 class="eltd-testimonials-job">
							Design Freelancer						</h6>
						
						
					<p class="eltd-testimonial-text">
						<span>
							Sed ut perspiciatis unde omnis iste natus   error sit voluptatem accusum laudan.						</span>
					</p>
									
				</div>
			</div>
		</div>	
	</div>	
</div>
<div id="eltd-testimonials689" class="eltd-testimonial-content">
	<div class="eltd-testimonial-content-wrapper-inner">
		
		<div class="eltd-testimonial-image-holder" style="background-image: url({{ asset('assets/img/02/testimonial-image9.jpg') }}_)" >
			<a class="eltd-testimonial-image" href="testimonials/testimonial-1-2/index.html">
				<img width="420" height="280" src="{{ asset('assets/img/02/testimonial-image9.jpg') }}" class="attachment-full size-full wp-post-image" alt="a" srcset="site/assets/img/02/testimonial-image9.jpg 420w, site/assets/img/02/testimonial-image9-300x200.jpg 300w" sizes="(max-width: 420px) 100vw, 420px" />			</a>
		</div>		
		<div class="eltd-testimonial-content-inner">
			<div class="eltd-testimonial-text-holder">
				<div class="eltd-testimonial-text-inner">
					
											
											<h4 class="eltd-testimonial-author">
							Maria Adams								
						</h4>
											
											<h6 class="eltd-testimonials-job">
							Student at the Faculty of Applierd Art						</h6>
						
						
					<p class="eltd-testimonial-text">
						<span>
							Sed ut perspiciatis unde omnis iste natus   error sit voluptatem acantium laudan.						</span>
					</p>
									
				</div>
			</div>
		</div>	
	</div>	
</div>
</div><div class = "eltd-testimonial-slide-item"><div id="eltd-testimonials687" class="eltd-testimonial-content">
	<div class="eltd-testimonial-content-wrapper-inner">
		
		<div class="eltd-testimonial-image-holder" style="background-image: url({{ asset('assets/img/02/testimonial-image8.jpg') }})" >
			<a class="eltd-testimonial-image" href="testimonials/testimonial-8/index.html">
				<img width="420" height="280" src="{{ asset('assets/img/02/testimonial-image8.jpg') }}" class="attachment-full size-full wp-post-image" alt="a" srcset="site/assets/img/02/testimonial-image8.jpg 420w, site/assets/img/02/testimonial-image8-300x200.jpg 300w" sizes="(max-width: 420px) 100vw, 420px" />			</a>
		</div>		
		<div class="eltd-testimonial-content-inner">
			<div class="eltd-testimonial-text-holder">
				<div class="eltd-testimonial-text-inner">
					
											
											<h4 class="eltd-testimonial-author">
							Maria Adams								
						</h4>
											
											<h6 class="eltd-testimonials-job">
							Student at the Faculty of Applierd Art						</h6>
						
						
					<p class="eltd-testimonial-text">
						<span>
							Sed ut perspiciatis unde omnis iste natus   error sit voluptatem acantium laudan.						</span>
					</p>
									
				</div>
			</div>
		</div>	
	</div>	
</div>
<div id="eltd-testimonials685" class="eltd-testimonial-content">
	<div class="eltd-testimonial-content-wrapper-inner">
		
		<div class="eltd-testimonial-image-holder" style="background-image: url({{ asset('assets/img/02/testimonial-image7.jpg')  }})" >
			<a class="eltd-testimonial-image" href="testimonials/testimonial-7/index.html">
				<img width="420" height="280" src="{{ asset('assets/img/02/testimonial-image7.jpg') }}" class="attachment-full size-full wp-post-image" alt="a" srcset="site/assets/img/02/testimonial-image7.jpg 420w, site/assets/img/02/testimonial-image7-300x200.jpg 300w" sizes="(max-width: 420px) 100vw, 420px" />			</a>
		</div>		
		<div class="eltd-testimonial-content-inner">
			<div class="eltd-testimonial-text-holder">
				<div class="eltd-testimonial-text-inner">
					
											
											<h4 class="eltd-testimonial-author">
							Harry Adams								
						</h4>
											
											<h6 class="eltd-testimonials-job">
							Design Freelancer						</h6>
						
						
					<p class="eltd-testimonial-text">
						<span>
							Sed ut perspiciatis unde omnis iste natus   error sit voluptatem accusum laudan.						</span>
					</p>
									
				</div>
			</div>
		</div>	
	</div>	
</div>
<div id="eltd-testimonials683" class="eltd-testimonial-content">
	<div class="eltd-testimonial-content-wrapper-inner">
		
		<div class="eltd-testimonial-image-holder" style="background-image: url({{ asset('assets/img/02/testimonial-image6.jpg') }})" >
			<a class="eltd-testimonial-image" href="testimonials/testimonial-6/index.html">
				<img width="420" height="280" src="{{ asset('assets/img/02/testimonial-image6.jpg') }}" class="attachment-full size-full wp-post-image" alt="a" srcset="site/assets/img/02/testimonial-image6.jpg 420w, site/assets/img/02/testimonial-image6-300x200.jpg 300w" sizes="(max-width: 420px) 100vw, 420px" />			</a>
		</div>		
		<div class="eltd-testimonial-content-inner">
			<div class="eltd-testimonial-text-holder">
				<div class="eltd-testimonial-text-inner">
					
											
											<h4 class="eltd-testimonial-author">
							Maria McAdams								
						</h4>
											
											<h6 class="eltd-testimonials-job">
							Director of Travel Agency						</h6>
						
						
					<p class="eltd-testimonial-text">
						<span>
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accuntium laudan.						</span>
					</p>
									
				</div>
			</div>
		</div>	
	</div>	
</div>
<div id="eltd-testimonials681" class="eltd-testimonial-content">
	<div class="eltd-testimonial-content-wrapper-inner">
		
		<div class="eltd-testimonial-image-holder" style="background-image: url({{ asset('assets/img/02/testimonial-image5.jpg') }})" >
			<a class="eltd-testimonial-image" href="testimonials/testimonial-5/index.html">
				<img width="420" height="280" src="{{ asset('assets/img/02/testimonial-image5.jpg') }}" class="attachment-full size-full wp-post-image" alt="a" srcset="site/assets/img/02/testimonial-image5.jpg 420w, site/assets/img/02/testimonial-image5-300x200.jpg 300w" sizes="(max-width: 420px) 100vw, 420px" />			</a>
		</div>		
		<div class="eltd-testimonial-content-inner">
			<div class="eltd-testimonial-text-holder">
				<div class="eltd-testimonial-text-inner">
					
											
											<h4 class="eltd-testimonial-author">
							Mario Wiliams								
						</h4>
											
											<h6 class="eltd-testimonials-job">
							Director of Travel Agency						</h6>
						
						
					<p class="eltd-testimonial-text">
						<span>
							Sed ut perspiciatis unde omnis iste natus   error sit voluptatem accustium laudan.						</span>
					</p>
									
				</div>
			</div>
		</div>	
	</div>	
</div>
</div></div></div></div></div></div></div></div></div><div data-eltd-parallax-speed="1" class="vc_row wpb_row vc_row-fluid eltd-section eltd-content-aligment-center eltd-parallax-section-holder eltd-parallax-section-holder-touch-disabled eltd-grid-section" style="background-image:url({{ asset('assets/img/02/parallax1.jpg') }});min-height:445px;height:auto;"><div class="clearfix eltd-section-inner"><div class="eltd-section-inner-margin clearfix"><div class="wpb_column vc_column_container vc_col-sm-10 vc_col-lg-offset-2 vc_col-lg-8 vc_col-md-offset-1 vc_col-md-10 vc_col-sm-offset-1"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_empty_space"  style="height: 80px" ><span class="vc_empty_space_inner"></span></div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2><span style="color: #ffffff;">Special Offers Every Day</span></h2>

		</div>
	</div>
<div class="vc_empty_space"  style="height: 15px" ><span class="vc_empty_space_inner"></span></div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><span style="color: #ffffff;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span></p>

		</div>
	</div>
<div class="vc_empty_space"  style="height: 48px" ><span class="vc_empty_space_inner"></span></div>
<a href="#" target="_self" style="color: #ffffff;border-color: #ffffff;font-weight: 100;margin: 0 12px 10px 18px " class="eltd-btn eltd-btn-medium eltd-btn-outline eltd-btn-custom-hover-bg eltd-btn-custom-border-hover eltd-btn-custom-hover-color eltd-btn-icon" data-hover-bg-color="#1ab5c1" data-hover-color="#ffffff" data-hover-border-color="#1ab5c1" >
    <span class="eltd-btn-text">SEE MORE</span>
    <span aria-hidden="true" class="eltd-icon-font-elegant arrow_carrot-right " ></span></a><a href="#" target="_self" style="color: #ffffff;border-color: #ffffff;font-weight: 100;margin: 0 0 0 12px" class="eltd-btn eltd-btn-medium eltd-btn-outline eltd-btn-custom-hover-bg eltd-btn-custom-border-hover eltd-btn-custom-hover-color eltd-btn-icon" data-hover-bg-color="#1ab5c1" data-hover-color="#ffffff" data-hover-border-color="#1ab5c1" >
    <span class="eltd-btn-text">GO NOW</span>
    <span aria-hidden="true" class="eltd-icon-font-elegant arrow_carrot-right " ></span></a><div class="vc_empty_space"  style="height: 80px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid eltd-section vc_custom_1456407552942 eltd-content-aligment-left eltd-grid-section" style=""><div class="clearfix eltd-section-inner"><div class="eltd-section-inner-margin clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="eltd-iwt clearfix eltd-iwt-icon-left eltd-iwt-icon-tiny">
    <div class="eltd-iwt-icon-holder">
                        <span class="eltd-icon-shortcode circle" style="margin: 0 33px 15px 0;width: 60px;height: 60px;line-height: 60px" >
        
        <i class="eltd-icon-linear-icon lnr lnr-map-marker eltd-icon-element" style="font-size:26px" ></i>
            </span>

            </div>
    <div class="eltd-iwt-content-holder" >
        <div class="eltd-iwt-title-holder">
            <h4 >Available All the Time and Everywhere</h4>
        </div>
        <div class="eltd-iwt-text-holder">
            <p >Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>

                    </div>
    </div>
</div><div class="vc_empty_space"  style="height: 40px" ><span class="vc_empty_space_inner"></span></div>
<div class="eltd-iwt clearfix eltd-iwt-icon-left eltd-iwt-icon-tiny">
    <div class="eltd-iwt-icon-holder">
                        <span class="eltd-icon-shortcode circle" style="margin: 0 33px 15px 0;width: 60px;height: 60px;line-height: 60px" >
        
        <i class="eltd-icon-linear-icon lnr lnr-history eltd-icon-element" style="font-size:24px" ></i>
            </span>

            </div>
    <div class="eltd-iwt-content-holder" >
        <div class="eltd-iwt-title-holder">
            <h4 >Quick and Easy Way to Search </h4>
        </div>
        <div class="eltd-iwt-text-holder">
            <p >Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>

                    </div>
    </div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="eltd-iwt clearfix eltd-iwt-icon-left eltd-iwt-icon-tiny">
    <div class="eltd-iwt-icon-holder">
                        <span class="eltd-icon-shortcode circle" style="margin: 0 33px 15px 0;width: 60px;height: 60px;line-height: 60px" >
        
        <i class="eltd-icon-linear-icon lnr lnr-earth eltd-icon-element" style="font-size:26px" ></i>
            </span>

            </div>
    <div class="eltd-iwt-content-holder" >
        <div class="eltd-iwt-title-holder">
            <h4 >Thousands of Places Around the World</h4>
        </div>
        <div class="eltd-iwt-text-holder">
            <p >Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>

                    </div>
    </div>
</div><div class="vc_empty_space"  style="height: 40px" ><span class="vc_empty_space_inner"></span></div>
<div class="eltd-iwt clearfix eltd-iwt-icon-left eltd-iwt-icon-tiny">
    <div class="eltd-iwt-icon-holder">
                        <span class="eltd-icon-shortcode circle" style="margin: 0 33px 15px 0;width: 60px;height: 60px;line-height: 60px" >
        
        <i class="eltd-icon-linear-icon lnr lnr-bookmark eltd-icon-element" style="font-size:22px" ></i>
            </span>

            </div>
    <div class="eltd-iwt-content-holder" >
        <div class="eltd-iwt-title-holder">
            <h4 >Tons of Great Offers Every Day</h4>
        </div>
        <div class="eltd-iwt-text-holder">
            <p >Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>

                    </div>
    </div>
</div></div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid eltd-section vc_custom_1459250987178 eltd-content-aligment-center eltd-grid-section" style=""><div class="clearfix eltd-section-inner"><div class="eltd-section-inner-margin clearfix"><div class="wpb_column vc_column_container vc_col-sm-10 vc_col-lg-offset-3 vc_col-lg-6 vc_col-md-offset-1 vc_col-md-10 vc_col-sm-offset-1"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2>Share Your Experience</h2>

		</div>
	</div>
<div class="eltd-separator-with-icon-holder clearfix  eltd-separator-center" style="margin-top: 7px">
	<div class="eltd-separator">
		<span style="width: 85px;height: 1px"></span>
	</div>
	<div class="eltd-separator-icon">
		<i class="eltd-icon-simple-line-icon icon-present " ></i>	</div>
	<div class="eltd-separator">
		<span style="width: 85px;height: 1px"></span>
	</div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>

		</div>
	</div>
<div class="vc_empty_space"  style="height: 45px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid eltd-section vc_custom_1457708168076 eltd-content-aligment-left eltd-grid-section" style=""><div class="clearfix eltd-section-inner"><div class="eltd-section-inner-margin clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="eltd-blog-list-holder eltd-boxes eltd-three-columns">
	<ul class="eltd-blog-list">
	<li class="eltd-blog-list-item clearfix">
	<div class="eltd-blog-list-item-inner">
		<div class="eltd-item-image">
			<a href="tips-for-top-quality-pics/index.html">
				<img width="884" height="585" src="{{ asset('assets/img/03/post1.jpg') }}" class="attachment-full size-full wp-post-image" alt="a" srcset="site/assets/img/03/post1.jpg 884w, site/assets/img/03/post1-300x199.jpg 300w, site/assets/img/03/post1-768x508.jpg 768w" sizes="(max-width: 884px) 100vw, 884px" />
			</a>
		</div>
		<div class="eltd-item-text-holder">
			
			<div class="eltd-item-info-section eltd-top-section">
				<div class="eltd-post-info-category">
	<a href="category/traveling/index.html" rel="category tag">Traveling</a></div>			</div>
			
			<h3 class="eltd-item-title">
				<a href="tips-for-top-quality-pics/index.html" >
					Tips for Top Quality Pics				</a>
			</h3>
			
							<p class="eltd-excerpt">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem. Proin gravida...
				</p>
				
						
			<div class="eltd-item-info-section">
				
				<div class="eltd-post-info-date">
	
	
		March 4, 2016
			
</div><div class="eltd-post-info-author">
	
	by	
	<a class="eltd-post-info-author-link" href="author/admin/index.html">
		Jessica Moor	</a>		
	
</div>
				
			</div>
		</div>
	</div>	
</li><li class="eltd-blog-list-item clearfix">
	<div class="eltd-blog-list-item-inner">
		<div class="eltd-item-image">
			<a href="why-not-go-for-a-walk/index.html">
				<img width="884" height="585" src="{{ asset('assets/img/03/post2.jpg') }}" class="attachment-full size-full wp-post-image" alt="a" srcset="site/assets/img/03/post2.jpg 884w, site/assets/img/03/post2-300x199.jpg 300w, site/assets/img/03/post2-768x508.jpg 768w" sizes="(max-width: 884px) 100vw, 884px" />
			</a>
		</div>
		<div class="eltd-item-text-holder">
			
			<div class="eltd-item-info-section eltd-top-section">
				<div class="eltd-post-info-category">
	<a href="category/culture/index.html" rel="category tag">Culture</a></div>			</div>
			
			<h3 class="eltd-item-title">
				<a href="why-not-go-for-a-walk/index.html" >
					Why Not Go for a Walk				</a>
			</h3>
			
							<p class="eltd-excerpt">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem. Proin gravida...
				</p>
				
						
			<div class="eltd-item-info-section">
				
				<div class="eltd-post-info-date">
	
	
		March 4, 2016
			
</div><div class="eltd-post-info-author">
	
	by	
	<a class="eltd-post-info-author-link" href="author/admin/index.html">
		Jessica Moor	</a>		
	
</div>
				
			</div>
		</div>
	</div>	
</li><li class="eltd-blog-list-item clearfix">
	<div class="eltd-blog-list-item-inner">
		<div class="eltd-item-image">
			<a href="best-destinations-for-artists/index.html">
				<img width="884" height="585" src="{{ asset('assets/img/03/post3.jpg') }}" class="attachment-full size-full wp-post-image" alt="a" srcset="site/assets/img/03/post3.jpg 884w, site/assets/img/03/post3-300x199.jpg 300w, site/assets/img/03/post3-768x508.jpg 768w" sizes="(max-width: 884px) 100vw, 884px" />
			</a>
		</div>
		<div class="eltd-item-text-holder">
			
			<div class="eltd-item-info-section eltd-top-section">
				<div class="eltd-post-info-category">
	<a href="category/lifestyle/index.html" rel="category tag">Lifestyle</a></div>			</div>
			
			<h3 class="eltd-item-title">
				<a href="best-destinations-for-artists/index.html" >
					Best Destinations for Artists				</a>
			</h3>
			
							<p class="eltd-excerpt">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem. Proin gravida...
				</p>
				
						
			<div class="eltd-item-info-section">
				
				<div class="eltd-post-info-date">
	
	
		March 4, 2016
			
</div><div class="eltd-post-info-author">
	
	by	
	<a class="eltd-post-info-author-link" href="author/admin/index.html">
		Jessica Moor	</a>		
	
</div>
				
			</div>
		</div>
	</div>	
</li>	</ul>	
</div>
</div></div></div></div></div></div>
							</div>
</div>
</div> <!-- close div.content_inner -->
</div>  <!-- close div.content -->
{% include ':searchgo:footer.html.twig' %}